{{!< default}}

<div class="content-area">
    <main class="site-main">

        <div class="post-feed container medium u-hover-wrapper">
            {{#foreach posts}}
                {{> loop tag="h2"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>